.footer {
  font-family: $poppins;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  padding: 50px;
  & input {
    margin-bottom: 10px;
  }
}
